# Dipendenze
node_modules/

# File di build/output
dist/

# File temporanei o cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# File di sistema
.DS_Store
Thumbs.db

# Configurazioni locali
.vscode/
.env
